@model IEnumerable<ModelsLibrary.ViewModels.ItemViewModel>

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ProductName
            </th>
            <th>
                Price)
            </th>
            <th>
                ProductDesc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDesc)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
            
        </tr>
        }<tr>
             <td>
                 <a asp-action="VerifyCart" asp-route-id="@ViewData["customerId"]">Purchase Cart</a>
                 
             </td>
             <td>
                 <a asp-action="Items" asp-route-id="@ViewData["storeId"]">Back To Shopping</a>
             </td>
        </tr>
        
    </tbody>
</table>
