@model IEnumerable<ModelsLibrary.ViewModels.ItemViewModel>

@{
    ViewData["Title"] = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Items</h1>

@*@{
    var items = (List<ItemViewModel>)ViewData["MyData"];
}*@
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                Product Description
            </th>
            <th>
                In Stock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @{
                        var parms = new Dictionary<string, string>
                                    {
                    { "ProductId", item.ProductId.ToString() },
                    {"Stock", item.Stock.ToString() }
                    };
                    }

                    <a asp-controller="Item" asp-action="AddToCart" asp-all-route-data="parms">Buy Item</a> |
                    @*<a asp-action="Details" asp-route-id="@item.StoreId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.StoreId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

