@model IEnumerable<ModelsLibrary.Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(Model => Model.First().Customer.FirstName)'s Order History</h1>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreStreet),
                @Html.DisplayFor(modelItem => item.Store.StoreState)
                @Html.DisplayFor(modelItem => item.Store.StoreZip)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
